---
const today = new Date();
---

<footer class="max-w-3xl mx-auto px-4 py-8">
  <nav class="flex items-center gap-2 mb-2">
    <span>Find me on:</span>
    <a href="https://www.linkedin.com/in/rcbz/">Linkedin</a>
    <a href="https://www.x.com/creativespooks">X (Twitter)</a>
  </nav>
  <p class="text-sm text-gray-500">
    &copy; {today.getFullYear()} Riccardo Buzzotta
  </p>
</footer>
