---
// import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
import profilePic from "/public/rcbz-profile-pic.jpg";
---

<header>
  <nav class="max-w-3xl mx-auto px-4 pt-16 pb-6">
    <div class="flex sm:flex-row flex-col sm:items-center gap-4">
      <Image
        class="min-w-0 shrink max-w-52 max-h-52 rounded-xl"
        src={profilePic}
        alt=" "
      />
      <div class="flex flex-col shrink-0">
        <h2>
          <a class="logo text-xl font-medium" href="/">{SITE_TITLE}</a>
        </h2>
        <p class="text-sm text-gray-700 dark:text-gray-300">
          Product designer and founder
        </p>
      </div>

      <!-- <ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul> -->
    </div>
  </nav>
</header>
